<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConstrulandiaAddOn.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <ConstrulandiaAddOn.My.MySettings>
      <setting name="IdCliente" serializeAs="String">
        <value>341251384514-khurlp5833i941b7402c2qq99nku1rk8.apps.googleusercontent.com</value>
      </setting>
      <setting name="IdSecret" serializeAs="String">
        <value>Yi1NtIKq9tx6qlVKWOeiRfG4</value>
      </setting>
      <setting name="ServidorSQL" serializeAs="String">
        <value>DESKTOP-DN257AC\CDD0003</value>
      </setting>
      <setting name="UsuarioSQL" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="PassSQL" serializeAs="String">
        <value>SAPB1Admin</value>
      </setting>
      <setting name="Empresa" serializeAs="String">
        <value>SBODemoMX</value>
      </setting>
      <setting name="CarpetaDrive" serializeAs="String">
        <value>1tZ64wRnyMaxQPKgljtNVQifTluMbP91G</value>
      </setting>
    </ConstrulandiaAddOn.My.MySettings>
  </userSettings>
</configuration>